<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar">

    <div class="navbar-logo">
        <ul>
            <li><a class="active" href="/">Logo</a></li>
        </ul>
    </div>

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/ourZoo">Our Zoo</a></li>
        <li><a href="/planVisit">Plan your Visit</a></li>
        <li><a href="/bookTickets">Book Tickets</a></li>
        <li><a href="/educationalContent">Educational Content</a></li>

       
    </ul>

    <div class="navbar-right">
        <div class="icon-1">
            <a class="btn-1" href="/checkout"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
        </div>
        <div class="icon-1">
            <a class="btn-1" href="/account"><i class="fa fa-user" aria-hidden="true"></i></a>
        </div>
        <div class="icon-1">
            <a class="btn-1" href="/settings"><i class="fa fa-cogs" aria-hidden="true"></i></a>
        </div>
        
        
    </div>

</nav>