@page "/educationalContent"
<link rel="stylesheet" href="css/style.css">

<div class="educational-content">
    <h2>
        Let your kids learn the wonders of wildlife!
    </h2>
</div>

@* <div class="educational-content-kids">
    <img src="images/kids stock image.jpg" style="width = "400px" height = "300px" />
</div> *@

@code {

}
