@using RZAProject2.Utilities;
@inject UserSession UserSession
@inject NavigationManager NavigationManager

@rendermode InteractiveServer
@page "/"
<link rel="stylesheet" href="css/style.css">
<div class="hero">
    <div class="home-content">
        <h2>Visit Riget Zoo Adventures!</h2>
    </div>
</div>


