@page "/"
<link rel="stylesheet" href="css/style.css">
@* <PageTitle>Home</PageTitle>
 *@
<div class="hero">
    <div class="home-content">
        <h2>Visit Riget Zoo Adventures!</h2>
    </div>
</div>


<div class="infobox-ctn"> 
    <h2>Visit Riget Zoo Adventures!</h2>
</div>