@* Page dedicated to login system, does not yet contain functionality *@

@page "/account"
@using RZAProject2.Models
@using RZAProject2.Utilities
@using RZAProject2.Services
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager
@inject UserSession UserSession


@inject RZAProject2.Services.CustomerService CustomerService

@inject NavigationManager NavigationManager

@rendermode InteractiveServer


<link rel="stylesheet" href="CSS/style.css" />

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FromName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="register">
        <h3 style="text-align: center"> Login</h3><br>
        <label> Username</label>
        <input type="text" id="username" name="username" @bind-value=newCustomer.Username><br>

        <label> Password</label>
        <input type="password" id="password" name="password" @bind-value=newCustomer.Password><br>

        <div class="loginButton">
            <button type="submit">Submit</button>
        </div>
        <div class="loginButton">
            <p>Dont Have An Account? <a href="/register">Sign Up Now</a></p>
        </div>

        <div class="loginButton">
            <p><a href="/Modify">Forget password?</a></p>
        </div>
    </div>
</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;

    #region Hidden
    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId != 0)
        {
            NavigationManager.NavigateTo("/account");
        }
    }
    #endregion

    private async Task HandleValidSubmit()
    {
        newCustomer.Password = PasswordUtils.HashPassword(password);
        newCustomer = await CustomerService.LogIn(newCustomer);
        if (newCustomer == null)
        {
            Console.WriteLine("could not log in");
        }
        else
        {
            UserSession.UserId = newCustomer.CustomerId;
            NavigationManager.NavigateTo("/account");
        }
    }
}