@using RZAProject2.Models
@using RZAProject2.Services
@using RZAProject2.Utilities
@inject AttractionService AttractionService
@inject UserSession UserSession
@inject NavigationManager NavigationManager
@inject TicketbookingService TicketbookingService
@inject TicketService TicketService

@rendermode InteractiveServer

@page "/bookTickets"
<link rel="stylesheet" href="CSS/style.css" />

@if (attractions != null)
{
    <div class="register-container">
        <div class="register-card">
            <div class="register">
                <h3 style="text-align: center"> Book Tickets</h3><br>
                @foreach (Attraction attraction in attractions)
                {

                    <div>
                        @attraction.AttractionName: £@attraction.Price
                        <button @onclick="@(e => AddTicket(attraction.AttractionId))">+</button><br>
                    </div>
                    

                }
                <input type="date" min=@DateTime.Now.ToString("yyyy-MM-dd") @bind=@ticketDate>
                <button @onclick=@BookTickets>Book Tickets</button>
            </div>
        </div>
    </div>
}
else
{
    <div>no attractions</div>
}

@if (tickets != null && tickets.Count != 0)
{
    @foreach (Ticket ticket in tickets)
    {
        <div>@ticket.TicketId, @ticket.AttractionId</div>
    }
}
else
{
    <div>Your tickets will show here...</div>
}

@code {
    List<Attraction> attractions;
    List<Ticket> tickets;
    DateOnly ticketDate;
    Ticketbooking newTicketbooking;
    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId == 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            attractions = await AttractionService.GetAttractionsAsync();
            tickets = new List<Ticket>();
            newTicketbooking = new Ticketbooking();
        }
    }
    private void AddTicket(int attractionId)
    {
        Console.WriteLine("AddTicket button was clicked");
        Ticket newTicket = new Ticket();
        newTicket.AttractionId = attractionId;
        tickets.Add(newTicket);
    }
    private async Task BookTickets()
    {
        //this one books all the tickets in the basket
        Ticketbooking newTicketbooking = new Ticketbooking();
        newTicketbooking.CustomerId = UserSession.UserId;
        newTicketbooking.Date = ticketDate;
        newTicketbooking.Date = DateOnly.FromDateTime(DateTime.Now);
        await TicketbookingService.AddTicketbookingAsync(newTicketbooking);
        foreach (Ticket ticket in tickets)
        {
            ticket.Ticketbooking = newTicketbooking;
            await TicketService.AddTicketAsync(ticket);
        }
    }
}﻿
